/* --- AJAXTAGS PORTLET CSS --- */

/* AUTO sized portlet */

.portletAUTOBox {
  border: 1px solid #ccc;
}

.portletAUTOTitle {
  background-color: #e8ebf0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ccc;
  padding: 2px 4px;
  color: #666;
  font: bold 10pt Arial;
}

.portletAUTOTools {
  float: right;
  padding: 2px 4px;
  margin-top: 1px;
  color: #666;
  font: bold 8pt Arial;
  cursor: pointer;
}

.portletAUTOTools img {
  border-left: 1px solid #666;
  padding: 0px 3px;
  cursor: pointer;
}

.portletAUTOTools img:first-child {
  border: none;
}

.portletAUTOContent {
  min-height: 2px;
  /* overflow: auto; */
  padding: 4px;
}


/* SMALL portlet */

.portletSMALLBox {
  width: 200px;
  border: 1px solid #ccc;
}

.portletSMALLTitle {
  background-color: #e8ebf0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ccc;
  padding: 2px 4px;
  color: #666;
  font: bold 10pt Arial;
}

.portletSMALLTools {
  float: right;
  padding: 2px 4px;
  margin-top: 1px;
  color: #666;
  font: bold 8pt Arial;
  cursor: pointer;
}

.portletSMALLTools img {
  border-left: 1px solid #666;
  padding: 0px 3px;
  cursor: pointer;
}

.portletSMALLTools img:first-child {
  border: none;
}

.portletSMALLContent {
  min-height: 2px;
  overflow: auto;
  padding: 4px;
}

/* MEDIUM portlet */

.portletMEDIUMBox {
  width: 410px;
  border: 1px solid #ccc;
}

.portletMEDIUMTitle {
  background-color: #e8ebf0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ccc;
  padding: 2px 4px;
  color: #666;
  font: bold 10pt Arial;
}

.portletMEDIUMTools {
  float: right;
  padding: 2px 4px;
  margin-top: 1px;
  color: #666;
  font: bold 8pt Arial;
  cursor: pointer;
}

.portletMEDIUMTools img {
  border-left: 1px solid #666;
  padding: 0px 3px;
  cursor: pointer;
}

.portletMEDIUMTools img:first-child {
  border: none;
}

.portletMEDIUMContent {
  min-height: 2px;
  overflow: auto;
  padding: 4px;
}

/* LARGE portlet */

.portletLARGEBox {
  width: 600px;
  border: 1px solid #ccc;
}

.portletLARGETitle {
  background-color: #e8ebf0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ccc;
  padding: 2px 4px;
  color: #666;
  font: bold 10pt Arial;
}

.portletLARGETools {
  float: right;
  padding: 2px 4px;
  margin-top: 1px;
  color: #666;
  font: bold 8pt Arial;
  cursor: pointer;
}

.portletLARGETools img {
  border-left: 1px solid #666;
  padding: 0px 3px;
  cursor: pointer;
}

.portletLARGETools img:first-child {
  border: none;
}

.portletLARGEContent {
  min-height: 2px;
  overflow: auto;
  padding: 4px;
}
