<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Title</title>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<div th:switch='${newAccount}'>
			<p th:case='${true}' th:text="#{email.message.accountCreated} + ${'.'}">An account has been created.</p>
			<p th:case='${false}' th:text="#{email.message.passwordReset} + ${'.'}">Your password has been reset.</p>
		</div>
		<p>
			<b th:text="#{page.label.username} + ${':'}">Username:</b> <span th:utext="${username}">admin</span><br/>
			<b th:text="#{page.label.password} + ${':'}">Password:</b> <span th:utext="${password}">abc.123</span><br/>
			<th:block th:if='${!#strings.isEmpty(artLink)}'>
				<b th:text="#{email.text.artLink} + ${':'}">ART Link:</b> <a th:href="@{${artLink}}" th:text='${artLink}' href='http://example.com'>http://example.com</a><br/>
			</th:block>
		</p>
		<hr/>
		<small th:text="#{email.footer.autoMessage}">
			Auto message
		</small>
	</body>
</html>
