<!--/*
http://lukasgrygar.com/thymeleaf/thymeleaf-tips-and-tricks/
https://stackoverflow.com/questions/42217214/springboot-with-thymeleaf-showing-error-but-working/42219002
*/-->
<th:block xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" type="text/css" th:href="${contextPath} + ${'/css/htmlDataTableOutput.css'}"/>
	<link rel="stylesheet" type="text/css" th:href="${contextPath} + ${'/js/bootstrap-3.3.7/css/bootstrap.min.css'}"/>
	<link rel="stylesheet" type="text/css" th:href="${contextPath} + ${'/js/dataTables/DataTables-1.10.18/css/dataTables.bootstrap.min.css'}"/>
	<link rel="stylesheet" type="text/css" th:href="${contextPath} + ${'/js/dataTables/Buttons-1.5.4/css/buttons.dataTables.min.css'}"/>
	<link rel="stylesheet" type="text/css" th:href="${contextPath} + ${'/js/dataTables/Buttons-1.5.4/css/buttons.bootstrap.min.css'}"/>
	<link rel="stylesheet" type="text/css" th:href="${contextPath} + ${'/js/bootstrap-select-1.12.4/css/bootstrap-select.min.css'}"/>

	<th:block th:if='${!ajax && !pageHeaderLoaded}'>
		<script th:src="${contextPath} + ${'/js/jquery-1.12.4.min.js'}"></script>
	</th:block>

	<script th:src="${contextPath} + ${'/js/dataTables/DataTables-1.10.18/js/jquery.dataTables.min.js'}"></script>
	<script th:src="${contextPath} + ${'/js/dataTables/DataTables-1.10.18/js/dataTables.bootstrap.min.js'}"></script>
	<script th:src="${contextPath} + ${'/js/dataTables/Buttons-1.5.4/js/dataTables.buttons.min.js'}"></script>
	<script th:src="${contextPath} + ${'/js/dataTables/Buttons-1.5.4/js/buttons.bootstrap.min.js'}"></script>
	<script th:src="${contextPath} + ${'/js/dataTables/JSZip-2.5.0/jszip.min.js'}"></script>
	<th:block th:if='${dtExtraOptions.pdf}'>
		<script th:src="${contextPath} + ${'/js/dataTables/pdfmake-0.1.36/pdfmake.min.js'}"></script>
		<script th:src="${contextPath} + ${'/js/dataTables/pdfmake-0.1.36/vfs_fonts.js'}"></script>
	</th:block>
	<script th:src="${contextPath} + ${'/js/dataTables/Buttons-1.5.4/js/buttons.html5.min.js'}"></script>
	<script th:src="${contextPath} + ${'/js/dataTables/Buttons-1.5.4/js/buttons.print.min.js'}"></script>
	<script th:src="${contextPath} + ${'/js/dataTables/Buttons-1.5.4/js/buttons.colVis.min.js'}"></script>
	<script th:src="${contextPath} + ${'/js/bootstrap-select-1.12.4/js/bootstrap-select.min.js'}"></script>
	<script th:src="${contextPath} + ${'/js/art.js'}"></script>
	<script th:src="${contextPath} + ${'/js/bootstrap-hover-dropdown-2.0.3.min.js'}"></script>

	<th:block th:if='${showColumnFilters}'>
		<link rel="stylesheet" type="text/css" th:href="${contextPath} + ${'/css/yadcf.css'}"/>
		<link rel="stylesheet" type="text/css" th:href="${contextPath} + ${'/js/yadcf-0.9.3/jquery.dataTables.yadcf.css'}"/>
		<script th:src="${contextPath} + ${'/js/yadcf-0.9.3/jquery.dataTables.yadcf.js'}"></script>
	</th:block>

	<script th:inline="javascript">
		$(document).ready(function () {

			var tableId = /*[[${tableId}]]*/ "table";
			var showAllRowsText = /*[[#{dataTables.text.showAllRows}]]*/ "All";

			//http://forum.thymeleaf.org/Expressions-vs-substitutions-newbie-question-td4025767.html
			//https://www.concretepage.com/thymeleaf/thymeleaf-javascript-inline-example-with-variable
			//https://stackoverflow.com/questions/20995687/thymeleaf-configure-mail-subject-in-template
			var url = /*[[${contextPath} + ${'/js/dataTables/i18n/dataTables_'} + ${language} + ${'.json'}]]*/ "";

			var buttons = [
				{
					extend: 'colvis',
					postfixButtons: ['colvisRestore']
				},
				{
					extend: 'excel',
					exportOptions: {columns: ':visible'}
				}
			];

			var pdf = /*[[${dtExtraOptions.pdf}]]*/ false;

			if (pdf) {
				buttons.push({
					extend: 'pdf',
					exportOptions: {columns: ':visible'}
				});
			}

			buttons.push({
				extend: 'print',
				exportOptions: {columns: ':visible'}
			});

			var options = {
				orderClasses: false,
				order: [],
				pagingType: 'full_numbers',
				lengthMenu: [
					[20, 50, 100, -1], [20, 50, 100, showAllRowsText]
				], // must have space between first brackets to prevent thymeleaf from processing this 
				pageLength: 50,
				dom: 'lBfrtip',
				buttons: buttons,
				language: {
					url: url
				},
				initComplete: afterTableInitialization
			};

			var reportOptionsString = /*[[${options}]]*/ "";
			if (reportOptionsString) {
				var reportOptions = JSON.parse(reportOptionsString);
				if (reportOptions) {
					var dtOptions = reportOptions.dtOptions;
					if (dtOptions) {
						$.extend(options, dtOptions);
					}
				}
			}

			//http://www.datatables.net/reference
			$('#' + tableId).dataTable(options);

			function afterTableInitialization(settings) {
				//https://datatables.net/reference/option/initComplete
				//https://datatables.net/forums/discussion/34352/passing-datatable-object-to-initcomplete-callback
				datatablesInitComplete();
				
				var showColumnFilters = /*[[${showColumnFilters}]]*/ false;

				if (showColumnFilters) {
					var table = settings.oInstance.api();
					createColumnFilters(table);
				}
			}

			function createColumnFilters(table) {
				var tbl = $('#' + tableId);
				var headingRow = tbl.find('thead tr:first');
				//https://stackoverflow.com/questions/34609173/datatables-1-10-column-count
				var colCount = table.columns().header().length;
				var cols = '';
				for (var i = 1; i <= colCount; i++) {
					cols += '<th></th>';
				}

				var filterRow = '<tr>' + cols + '</tr>';
				headingRow.after(filterRow);
				var filterColumnDefs = [];
				for (var i = 0; i < colCount; i++) {
					filterColumnDefs.push({
						column_number: i, filter_type: "text", filter_default_label: "",
						style_class: "yadcf-report-name-filter", html5_data: "data-display"
					});
				}

				yadcf.init(table, filterColumnDefs, {filters_tr_index: 1});
			}
		});
	</script>
</th:block>
