<?xml version="1.0" encoding="UTF-8" ?> 

<configuration scan="true" scanPeriod="1 minute">

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">		
		<encoder>
			<pattern>[%level] %date{dd MMM yyyy HH:mm:ss.SSS} |%thread| %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- appender used to display logs from application interface. -->
	<!-- don't change name from CYCLIC. hardcoded and used in application code -->
	<appender name="CYCLIC" class="ch.qos.logback.core.read.CyclicBufferAppender">
		<MaxSize>512</MaxSize>
	</appender>

	<logger name="org.quartz">
		<level value="info"/>
	</logger>
	
	<logger name="art">
		<level value="info"/>
	</logger>
	
	<root>
		<level value="warn" />
		<appender-ref ref="stdout" />
		<appender-ref ref="CYCLIC" />
	</root>

</configuration>
