/* 
    Document   : art-3
    Created on : 27-Sep-2013, 09:03:00
    Author     : Timothy Anyona
    Description: ART css
*/

.centered{
	margin: 0 auto;
}

.spacer60 {
	margin-top: 60px; 
}

/* styling for datatables details row. from datatables demo_table.css */
td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}

/* remove bootstrap border-top from details row */
.datatable table tbody>tr>td{border:none;}

/* styling to enable datatables details row slideDown, slideUp effect */
div.innerDetails { 
	display: none; 
}

/* show hand cursor for expandable rows */
tr.expandable {
	cursor: pointer; *cursor: hand;
}

/* styling for application logs */
tr.ERROR{
	color: red;
	font-weight: bold;
	cursor: pointer; *cursor: hand;
}

tr.WARN{
	font-weight: bold;
}

/* for use with spring <form:error tag. by default creates a span with error class */
.error{
	color: red;
}

/* override bootstrap tooltip max width */
div[class="tooltip-inner"] {
    max-width: 350px;
}

/* override bootstrap container width so as to make use of the whole screen */
.container{
	max-width:100%;
}

/* add padding to navbar so that main body content isn't hidden under it */
#header{
	padding-bottom: 60px;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -50px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 50px;
}
#footer {
	background-color: #eee;
}

/* Lastly, apply responsive CSS fixes as necessary */
/*@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}*/


