/* 
    Document   : art-3
    Created on : 27-Sep-2013, 09:03:00
    Author     : Timothy Anyona
    Description:
        ART custom css
*/


/* override bootstrap container width so as to make use of the whole screen */
.container{
	max-width:100%;
	padding:0;
}

.centered{
	margin: 0 auto;
}

