/* ART css style */
/* When      What
 * 20070814  removed global rules on table/td to avoid to
             interfere with overlib tooltips (by desand)
 */

/*
 * General Definitions
 */

td.jobdetails{
	border: 1px solid #000000;
	font-size: 10pt;
	padding: 5px;
}

table.notes, table.notes td, table.notes th {
	font-size: 8pt;
}

div.notes {
	font-size: 8pt;
	border: 1px solid #000000;
	padding: 2px;
}

div.notes p {
	font-size: 8pt;
}

td.summary{
	font-size:10pt;
	text-align:center;
}

table.art {
    border: 1px solid #000000;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;

}

table.art td{
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    font-size: 10pt;
}

table.plain {
    background-color: #FFFFFF;
}

table.plain td{
    vertical-align: text-top;
    font-size: 10pt;
}

table.pivot{
    border: 1px solid #000000;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table.pivot td{
    margin-left: auto;
    margin-right: auto;
    font-size: 10pt;
}

form.data{
	margin-top:0;
	margin-bottom:0;
}


body {
   font-family: Verdana, Helvetica , Arial;
   font-style: normal;
   color: #000000;
   background-color: #FFFFFF;
   font-size: 10pt;
}

a {
 color: rgb(0,0,255);
 font-weight: normal;
 text-decoration: none;
}

a:hover {
 color: rgb(0,0,255);
 font-weight: bold;
 text-decoration: none;
}

p.error {
border-color:#000000;
background-color:#d3d3d3;
border: 1px solid;
color: red;
}

div.small {
border-color:#08699C;
background-color:#FFFFFF;
border: 1px solid;
color:#000000;
font-family:"Verdana","Helvetica","Arial";
font-size:10pt;
border-color : gray;
}

div.queryDescr {
border-color:#08699C;
background-color:transparent;
color:#000000;
font-family:"Verdana","Helvetica","Arial";
font-size:10pt;
border-color : gray;
}

/*
 * Admin Part, Group Select, Query Select, Query Parameter
 */


/* input text fields
 */
select,input {
border-color:#08699C;
background-color:#FFFFFF;
border: 1px solid;
color:#000000;
font-family:"Verdana","Helvetica","Arial";
font-size:10pt;
}

option {
border-bottom: 1px solid ;
}

button  {
border-color:#08699C;
background-color:#08699C;
color:#FFFFFF;
font-family:"Verdana","Helvetica","Tahoma","Arial";
font-size:9pt;
/*font-weight:bolder;*/
}

button:disabled  {
border-color:#08699C;
background-color:#CCCCCC;
color:#FFFFFF;
font-family:"Verdana","Helvetica","Tahoma","Arial";
font-size:9pt;
/*font-weight:bolder;*/
}

/* Big title (on logon screen)
 */
td.supertitle {
 background-image: URL('../images/bg-blue.png');
 background-repeat: repeat-x;
 background-color:#FFFFFF;
    vertical-align: text-top;
    font-weight: bold;
    font-size: 18pt;
}

/* Title (top on pages)
 */
td.title {
 vertical-align: middle;
 text-align: center;
 /*font-weight: bold; */
 background-image: URL('../images/bg-gray-dark.png');
 background-repeat: repeat-x;
 background-color:#FFFFFF;
 color:#003366;
 border: 1px solid #000000;
}

td.titletop {
 vertical-align: top;
 text-align: center;
 /*font-weight: bold; */
 background-image: URL('../images/bg-gray-dark.png');
 background-repeat: repeat-x;
 background-color:#FFFFFF;
 color:#003366;
 border: 1px solid #000000;
}

/* Used in Parameters page(Name, value, class...)
 */
td.attr {
    background-color: #CCCCCC;
    vertical-align: middle;
    background-image: URL('../images/bg-gray.png');
    background-repeat: repeat-x;
    background-color:#FFFFFF;
    color:#003366;
    font-size: 10pt;
    border: 1px solid #000000;
}


/* Used in login page
 */
td.link {
    vertical-align: middle;
    text-align: center;
    background-image: URL('../images/bg-gray.png');
    background-repeat: repeat-x;
    background-color:#FFFFFF;
    color:#003366;
    font-size: 10pt;
}

/* "Group:", "Query:"
 */
td.info {
    background-color: #CCCCCC;
    vertical-align: middle;
    background-image: URL('../images/bg-gray.png');
    background-repeat: repeat-x;
    background-color:#FFFFFF;
    color:#003366;
}

/* Used to store input boxes (button and graph WxH)
 */
td.action {
    vertical-align: middle;
    background-image: URL('../images/bg-gray.png');
    background-repeat: repeat-x;
    background-color:#FFFFFF;
    text-align: center;
    color:#003366;
    border: 1px solid #000000;
    font-size: 10pt;
}

/* option select
 */
td.choice {
    background-color: #E0E0E0;
    vertical-align: text-top;
}

/* Parameters names etc
 */
td.data {
 font-size: 10pt;
 background-image: URL('../images/bg-gray.png');
 background-repeat: repeat-x;
 background-color:#FFFFFF;
 vertical-align: middle;
 color:#003366;
 padding-left: 2pt;
 padding-right: 2pt;
 /* border: 1px solid #000000; */
}



.expand {

}

.collapse {
  display: none;
}

input.buttonup {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: black;
  background-color: white;
  background-image: url(../images/bg-gray.png);
  background-repeat: repeat-x;
  border-top: 2px solid #e3e7e9;
  border-left: 2px solid #e3e7e9;
  border-right: 2px ridge #3a4e5e;
  border-bottom: 2px ridge #3a4e5e;
}

input.buttondn {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: black;
  background-color: white;
  background-image: url(../images/bg-gray-dark.png);
  background-repeat: repeat-x;
  border-top: 2px solid #e3e7e9;
  border-left: 2px solid #e3e7e9;
  border-right: 2px ridge #496573;
  border-bottom: 2px ridge #496573;
}


/*
 * Query Execute (html fancy and html report)
 */

table.qe {
    border-collapse: collapse;
}

TD.qetitle {
 color: #000000;
 font-weight: bold;
 font-size: 12pt;
 border: 1px solid #000000;
}

TD.qeattr {
 color: #000000;
 font-size: 10pt;
 font-weight: bold;
 text-align: center;
 background-image: URL('../images/bg-gray-dark.png');
 background-repeat: repeat-x;
 background-color:#FFFFFF;
 padding-left: 5pt;
 padding-right: 5pt;
 border: 1px solid #000000;
}

td.qeattrLeft {
 color: #000000;
 font-size: 10pt;
 font-weight: bold;
 text-align: left;
 background-image: URL('../images/bg-gray-dark.png');
 background-repeat: repeat-x;
 background-color:#FFFFFF;
 padding-left: 5pt;
 padding-right: 5pt;
 border: 1px solid #000000;
}

TD.qebottom {
 color: #ffffff;
 font-size: 10pt;
 background-image: URL('../images/bg-blue.png');
 background-repeat: repeat-x;
 background-color:#FFFFFF;
}

TD.qesubattr {
 background: #cccccc;
 color: #000000;
 font-size: 10pt;
 font-weight: bold;
}

TD.qeodd {
 font-size: 10pt;
 background-image: URL('../images/bg-gray.png');
 background-repeat: repeat-x;
 background-color:#FFFFFF;
 color:#003366;
 padding-left: 5px;
 padding-right: 5px;
 border: 1px solid #000000;
}

TD.qeeven {
 font-size: 10pt;
 background-image: URL('../images/bg-gray.png');
 background-repeat: repeat-x;
 background-color:#FFFFFF;
 color:#003366;
 padding-left: 5px;
 padding-right: 5px;
 border: 1px solid #000000;
}

TD.qeoddLeft {
 font-size: 10pt;
 background-image: URL('../images/bg-gray.png');
 background-repeat: repeat-x;
 background-color:#FFFFFF;
 color:#003366;
 padding-left: 5px;
 padding-right: 5px;
 border: 1px solid #000000;
 text-align: left;
}

TD.qeevenLeft {
 font-size: 10pt;
 background-image: URL('../images/bg-gray.png');
 background-repeat: repeat-x;
 background-color:#FFFFFF;
 color:#003366;
 padding-left: 5px;
 padding-right: 5px;
 border: 1px solid #000000;
 text-align: left;
}

input.qetfstatus {
 background-color: #FFFFFF;
 color: #000000 ;
 border : 1px solid;
 border-color : gray;
 font-size: 8pt;
}

div.qeparams {
 background-image: URL('../images/bg-gray.png');
 background-repeat: repeat-x;
 background-color:#FFFFFF;
 font-weight: normal;
 font-size: 8pt;
 border: 1px solid;
 border-color:#000000;
}


/*
 * Query Execute (html grid)
 */

table.sortable{
  background-color: transparent;
  border-top: 1px solid black;
  border-bottom: 1px solid #000000;
  border-left: 1px solid black;
  border-right: 1px solid #000000;
  font-size: 11px;
  color: black;
  cursor: default;
  font-family: tahoma,verdana,sans-serif;
}

table.sortable th{
  background-color: #d4d0c8;
  text-align: center;
  border-top: 1px solid white;
  border-right: 1px solid black;
  border-left: 1px solid white;
  border-bottom: 1px solid black;
  font-weight: normal;
}

table.sortable a.sortheader {
    background-color:#d4d0c8;
    color:#666666;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

table.sortable tr{
  height:0px;
}

table.sortable td{
  border-left:1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  vertical-align: text-top;
  padding-left: 5px;
  padding-right: 5px;
}

tr.hiliterows	 {
 font-weight: normal;
 background-color: #d3d3d3;
 color: black ;
 height:0px;}

tr.rows 	 {
	font-weight: normal;
	background-color: white;
	height:0px;
}

tr.slct 	 {
	background-color: yellow;
	height:0px;
}

tr.slct2	 {
	background-color: green;
	color: white;
	height:0px;
}

/*
Graph data
*/
td.graphdata{
 font-size: 10pt;
 background-image: URL('../images/bg-gray.png');
 background-repeat: repeat-x;
 background-color:#FFFFFF;
 color:#003366;
 padding-left: 5px;
 padding-right: 5px;
 border: 1px solid #000000;
}

td.graphheader {
 color: #000000;
 font-size: 10pt;
 font-weight: bold;
 background-image: URL('../images/bg-gray-dark.png');
 background-repeat: repeat-x;
 background-color:#FFFFFF;
 padding-left: 5px;
 padding-right: 5px;
 border: 1px solid #000000;
}

/* Others */
td.data2 {
 font-size: 10pt;
 background-color:#FFFFFF;
 vertical-align: middle;
 padding-left: 2pt;
 padding-right: 2pt;
}

/*
 * Sticky spinning icon
 */

#systemWorking {display:block; top: 0px; right:-1px; width:20px; position:fixed; border:1px solid #888; background-color: white ;padding:5px; text-align:center; font-weight:bold; }
* html #systemWorking {position:absolute;}


/* Used to highlight a component (adminConsole.jsp)
 */
.artLink {
    background-color: #CCCCCC;
    vertical-align: middle;
    background-image: URL('../images/bg-gray.png');
    background-repeat: repeat-x;
    color:#003366;
    font-size: 10pt;
    font-weight: bold;
    border: 1px solid #000000;
}
.artLinkHighlight {
    background-color: yellow;
    vertical-align: middle;
    color:#003366;
    font-size: 10pt;
    font-weight: bold;
    border: 1px solid #000000;
}
