/* 
    Document   : art
    Created on : 27-Sep-2013, 09:03:00
    Author     : Timothy Anyona
    Description: ART css
*/

/* have bottom margin to the main datatables div */
.dtHeader{
	margin-bottom: 10px;
}

.centered{
	margin: 0 auto;
}

/* report header and footer */
div.reportBanner {
	background-color: #FFFFFF;
	color: #000000;
	font-family: "Verdana", "Helvetica", "Arial";
	font-size: 10pt;
}

/* space to take into account the bootstrap fixed navbar */
.spacer60 {
	margin-top: 60px; 
}

#spinner {
	display: none;
	position: fixed;
	z-index: 1000;
	width: auto;
	right: 0px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

/* styling for datatables details row. from datatables demo_table.css */
td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}

/* styling for datatables details content */
div.details { 
	margin-left: 50px;
}

/* remove bootstrap border-top from details row */
table.expandable table tbody>tr>td {
	border: none;
}

/* show hand cursor for expandable rows */
tr.expandable td.expandable {
	cursor: pointer;
}

/* styling for application logs */
tr.ERROR{
	color: red;
	font-weight: bold;
	cursor: pointer;
}

tr.WARN{
	font-weight: bold;
}

/* for use with spring <form:error tag. by default creates a span with error class */
.error{
	color: red;
}

/* override bootstrap tooltip max width */
div[class="tooltip-inner"] {
    max-width: 350px;
}

/* override bootstrap container width so as to make use of the whole screen */
/*.container{
	max-width:100%;
}*/

/* add padding to navbar so that main body content isn't hidden under it */
#pageHeader{
	padding-bottom: 60px;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -50px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
	height: 50px;
}
#footer {
	background-color: #eee;
}

/* Lastly, apply responsive CSS fixes as necessary */
/*@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}*/

.panel-group .panel {
  overflow: visible;
}

/* https://stackoverflow.com/questions/23509122/bootstrap-modal-overflowing-my-table-row */
.modal-body {
	overflow-x: auto;
}

.reportName {
  padding-bottom: 5px;
  margin: 10px 0 20px;
  border-bottom: 1px solid #eee;
}
