/* --- dashboard CSS --- */

.portletTitle {
  background-color: #e8ebf0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ccc;
  padding: 2px 4px;
  color: #666;
  font: bold 10pt Arial;
}

.portletTools {
  float: right;
  padding: 2px 4px;
  margin-top: 1px;
  color: #666;
  font: bold 8pt Arial;
  cursor: pointer;
}

.portletTools img {
  border-left: 1px solid #666;
  padding: 0px 3px;
  cursor: pointer;
}

.portletTools img:first-child {
  border: none;
}

/* AUTO sized portlet */

.portletAUTOBox {
  border: 1px solid #ccc;
}

.portletAUTOContent {
  min-height: 2px;
  /* overflow: auto; */
  padding: 4px;
}


/* SMALL portlet */

.portletSMALLBox {
  width: 200px;
  border: 1px solid #ccc;
}

.portletSMALLContent {
  min-height: 2px;
  overflow: auto;
  padding: 4px;
}

/* MEDIUM portlet */

.portletMEDIUMBox {
  width: 410px;
  border: 1px solid #ccc;
}

.portletMEDIUMContent {
  min-height: 2px;
  overflow: auto;
  padding: 4px;
}

/* LARGE portlet */

.portletLARGEBox {
  width: 600px;
  border: 1px solid #ccc;
}

.portletLARGEContent {
  min-height: 2px;
  overflow: auto;
  padding: 4px;
}

.self-service-item-icon {
	padding: 0px 2px;
	cursor: pointer;
}

.dashboard-column {
	vertical-align: top;
	padding: 0px 10px;
}

.portlet {
	padding-bottom: 20px;
}
