/* 
    Created on : 29-May-2016, 18:18:36
    Author     : Timothy Anyona
*/

td.groupData {
	font-size: 10pt;
	background-image: URL('../images/bg-gray.png');
	background-repeat: repeat-x;
	background-color:#FFFFFF;
	vertical-align: middle;
	color:#003366;
	padding-left: 2pt;
	padding-right: 2pt;
	/* border: 1px solid #000000; */
}

td.groupError {
 color: #000000;
 font-size: 10pt;
 font-weight: bold;
 text-align: center;
 background-image: URL('../images/bg-gray-dark.png');
 background-repeat: repeat-x;
 background-color:#FFFFFF;
 padding-left: 5pt;
 padding-right: 5pt;
 border: 1px solid #000000;
}

