/* 
    Created on : 21-May-2014, 15:31:22
    Author     : Timothy Anyona

css for html fancy report format
*/

table.qe {
	border-collapse: collapse;
}

TD.qetitle {
	color: #000000;
	font-weight: bold;
	font-size: 12pt;
	border: 1px solid #000000;
}

TD.qeattr {
	color: #000000;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	background-image: URL('../images/bg-gray-dark.png');
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	padding-left: 5pt;
	padding-right: 5pt;
	border: 1px solid #000000;
}

td.qeattrLeft {
	color: #000000;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	background-image: URL('../images/bg-gray-dark.png');
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	padding-left: 5pt;
	padding-right: 5pt;
	border: 1px solid #000000;
}

TD.qebottom {
	color: #ffffff;
	font-size: 10pt;
	background-image: URL('../images/bg-blue.png');
	background-repeat: repeat-x;
	background-color: #FFFFFF;
}

TD.qesubattr {
	background: #cccccc;
	color: #000000;
	font-size: 10pt;
	font-weight: bold;
}

TD.qeodd {
	font-size: 10pt;
	background-image: URL('../images/bg-gray.png');
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	color: #003366;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #000000;
}

TD.qeeven {
	font-size: 10pt;
	background-image: URL('../images/bg-gray.png');
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	color: #003366;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #000000;
}

TD.qeoddLeft {
	font-size: 10pt;
	background-image: URL('../images/bg-gray.png');
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	color: #003366;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #000000;
	text-align: left;
}

TD.qeevenLeft {
	font-size: 10pt;
	background-image: URL('../images/bg-gray.png');
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	color: #003366;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #000000;
	text-align: left;
}

input.qetfstatus {
	background-color: #FFFFFF;
	color: #000000;
	border: 1px solid;
	border-color: gray;
	font-size: 8pt;
}

div.qeparams {
	background-image: URL('../images/bg-gray.png');
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	font-weight: normal;
	font-size: 8pt;
	border: 1px solid;
	border-color: #000000;
}

table.qe tfoot td {
	font-weight: bold;
	background-image: URL('../images/bg-gray-dark.png');
	background-repeat: repeat-x;
	background-color: #FFFFFF;
}

