/* 
    Created on : 01-May-2018, 19:53:27
    Author     : Timothy Anyona
*/
.yadcf-id-filter {
    width: 50px;
}

.yadcf-name-filter {
    width: 140px;
}

.yadcf-description-filter {
    width: 140px;
}
