/* 
    Created on : 01-May-2018, 19:53:27
    Author     : Timothy Anyona
*/
.yadcf-id-filter {
    width: 50px;
}

.yadcf-report-name-filter {
    width: 140px;
}

.yadcf-report-description-filter {
    width: 140px;
}

.yadcf-job-name-filter {
    width: 150px;
}

.yadcf-job-date-filter {
    width: 120px;
}

.yadcf-job-result-filter {
    width: 150px;
}
